.mini-card__blog {
  max-height: 460px;
}
.mini-card__blog hr {
  border: 1px solid rgba(104, 104, 104, 0.2);
  margin-top: 26px;
  margin-bottom: 16px;
}
.mini-card__blog header {
  width: 100%;

  border-radius: 20px;
  background: radial-gradient(rgba(251, 47, 254, 0.1), rgba(19, 19, 19));
}

.mini-card__blog header img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: scale-down;
}

.mini-card__blog h4 {
  color: var(--light-fg);
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 6px;
}

.mini-card__blog p {
  color: var(--fg);
  margin-bottom: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.mini-card__blog a {
  background-color: var(--accent-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 14px;
  font-size: 16px;
}
