---
import BlogList from "./BlogList.jsx"


---

<style>
    h4 {
        display: block;
        color: var(--light-fg);
        font-weight: 500;
        font-size: 28px;
    }

    p {
        display: block;
        color: var(--fg);

    }
</style>


<h4>Blogs</h4>
<p>Categorías</p>
<BlogList client:idle />