---
const { href, target } = Astro.props
---

<style>
    a {
        text-align: center;
        background-color: var(--accent-color);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-shadow: 0 0 30px 0 var(--accent-color);
        cursor: pointer;
        padding: 14px;
        font-size: 16px;

    }
</style>
<a href={href} target={target||"_blank"}>
    <slot />
</a>