---
import { BlogIcon, DownloadIcon, HomeIcon, ProjectsIcon, TechsIcon } from "../assets/icons/Icons";

const isOpen = false
const { page } = Astro.props
---

<style>
    header {
        position: relative;

        max-width: 1200px;
        margin-inline: auto;
        padding: 26px 30px;
        overflow: hidden;
        color: #737B8F;
        background-color: rgba(0, 0, 0, .15);
        border-radius: 35px;
        z-index: 999;

    }

    @media (max-width:860px) {
        header {
            padding: 6px;
            position: fixed;
            top: 0;
            left: 0;
            border-radius: 0;
            background-color: rgba(0, 0, 0, .9);
            backdrop-filter: blur(10px);
            width: 100%;
        }
    }

    header:before,
    header:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        background-color: var(--accent-color);
        height: 100%;
        opacity: .4;
        aspect-ratio: 1/1;
        filter: blur(60px);

    }

    header:after {
        right: 0;
        top: 60%;
        left: unset;
        aspect-ratio: 3/1;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav>div {
        display: flex;
        align-items: center;
        gap: 24px;
        list-style: none;
        font-size: 20px;

    }

    a {
        position: relative;
        transition: transform .2s ease-in-out;

    }



    a.active,
    a.csv_button {
        padding: 8px 26px;
        background-color: var(--accent-color);
        border-radius: 20px;
        color: var(--dark-fg);
    }

    a.csv_button {
        padding: 12px 30px;
        box-shadow: 0 0 30px 0 var(--accent-color);
    }

    a:not(.active, .csv_button):hover {
        transform: scale(1.06);
        transition: transform .2s ease-in-out;
    }

    a :global(svg) {
        display: none;
    }

    @media (max-width:860px) {
        a {
            font-size: 26px;
        }

        a :global(svg) {
            display: block;
        }

        a p {
            display: none;
        }
    }

    @media (max-width:400px) {
        a {
            font-size: 20px;
        }
    }
</style>

<header>
    <nav>

        <div>
            <a href="/" class={page==="/" ? "active" :""}>
                <p>Inicio</p>
                <HomeIcon />
            </a>
            <a href="/projects" class={page==="/projects" ? "active" :""}>
                <p>Proyectos</p>
                <ProjectsIcon />

            </a>
            <a href="/techs" class={page==="/techs" ? "active" :""}>
                <p>Tecnologías</p>
                <TechsIcon />

            </a>
            <a href="/blog" class={page==="/blog" ? "active" :""}>
                <p>Blog</p>
                <BlogIcon />

            </a>
        </div>

        <a class="csv_button" href="/assets/pdf/Julian Ezequiel Kominovic - CV.pdf" target="_blank"
            rel="noopener noreferrer">
            <p>
                Descargar CV</p>
            <DownloadIcon />
        </a>
    </nav>

</header>